.mini-player{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 25px;

    background:rgba(20,20,30,.92);
    backdrop-filter:blur(18px);

    border-top:1px solid rgba(255,255,255,.08);

    z-index:9999;
}

.mini-left,
.mini-center,
.mini-right{
    display:flex;
    align-items:center;
}

.mini-left{
    gap:15px;
    width:25%;
}

.mini-cover{
    width:60px;
    height:60px;
    border-radius:12px;
    object-fit:cover;
}

.mini-center{
    flex-direction:column;
    width:50%;
}

.mini-buttons{
    display:flex;
    gap:18px;
    margin-bottom:10px;
}

.mini-buttons button{
    border:none;
    background:#b86cff;
    color:white;
    width:42px;
    height:42px;
    border-radius:50%;
    cursor:pointer;
    font-size:18px;
}

.mini-progress{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
}

.mini-progress input{
    flex:1;
}

.mini-right{
    gap:15px;
    width:25%;
    justify-content:flex-end;
}

.mini-right button{
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
}

.mini-right input{
    width:120px;
}
